/* styles.css */

body {
    background-color: #f8f6f2 !important;
    color: #ffffff !important;
    font-family: 'Nifty-A' !important;
}
/* -------------- imported fonts -------------- */
@font-face {
    font-family: 'Nifty-A';
    src: url(./fonts/Nifty-Ascent.otf);
}

@font-face {
    font-family: 'Nifty-D';
    src: url(./fonts/Nifty-Descent.otf);
}

@font-face {
    font-family: 'Nifty-R';
    src: url(./fonts/Nifty-Regular.otf);
}

@font-face {
    font-family: 'Nifty-XH';
    src: url(./fonts/Nifty-XHeight.otf);
}

@font-face {
    font-family: 'Garet';
    src: url(./fonts/Garet-Book.otf);
}

.header {
    padding-left: -50%;
    background: #3a3a3a;
    color: #3a3a3a;
}

.header-content {
    padding-left: 6%;
    display: flex;
    align-items: center;
    flex-direction: left;
}

h1 { /* webiste name text */
    text-align: center;
    color: #323131;
    font-family: 'Nifty-R';
    font-size: 60px !important;
}

h6 { /* naviagtion bar text */
    text-align: left;
    color: #323131;
    font-family: 'Nifty-R';
    font-size: 15px !important;
}
/* -------------- navigation -------------- */
.navbar-brand {
    width: 100%;
}

.navigation::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-item {
    color: #3a3a3a !important;
    position: relative;
    transition: color 0.3s ease; 
}

.nav-item::before {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #3a3a3a; 
    transition: width 0.3s ease; 
}

.nav-item:hover::before {
    width: 100%; 
}
.nav-item:hover {
    color: #2598fd !important; 
}
.nav-link1{
    right: 600px;
    position: relative;
}

.button-23 {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.button-23:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.button-23:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}
.main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}
